
body {
    min-width: 448px;
    background-color: black;
}
section.container {
    background-color: white;
    min-height: 100vh;
}
header {
    height: 12vh;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.stripe {
    height: 2vh;
    background-color: #028cd5;
}
.head {
    height: 10vh;
    position:relative;
    z-index: 1;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    background-color: #0aa6e1;
}
header h1, h3 {
    font-size: 1.5em;
    color: white;
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 400 !important;
    text-shadow: none;
}
header h3 {
    font-size: 0.9em;
    margin-top: 0px;
}
.postcript {
    position: relative;
    z-index: 0;
    height: 2vh;
    background-color: grey;
    -webkit-box-shadow: 0px 2px 5px rgb(71,71,71) inset;
    -moz-box-shadow: 0px 2px 5px rgb(71,71,71) inset;
    box-shadow: 0px 2px 5px rgb(71,71,71) inset;
}
main {    
    position: relative;
    min-height: 77vh;
    clear: both;    
}
.personal {
    position: relative;
    bottom: 0;
    min-height: 77vh;
    -webkit-box-shadow: 0px 0px 5px rgb(71,71,71) inset;
    -moz-box-shadow: 0px 0px 5px rgb(71,71,71) inset;
    box-shadow: 0px 5px 5px grey inset;
}
.work {
    position: relative;
    min-height: 77vh;
    bottom: 0;
    overflow: auto;
    color: #0aa6e1;
    background-color: rgb(249,249,249);
    -webkit-box-shadow: 2px 0px 5px black inset;
    -moz-box-shadow: 2px 0px 5px black inset;
    box-shadow: 2px 5px 5px grey inset;
}
main article h3 {
    color: #0aa6e1;
    margin-bottom: 30px;
}
hr {
    color: lightgrey;
    margin-top: 0px;
    margin-bottom: 5px;
}
.personal input {
    border: none;
    margin-left: 2px;
    width: 50%;
}
.languages input {
    font-weight: 700;
    width: 100%;
    margin-left: 15px;
}
.languages p {
    padding-right: 0;
}
.languages .a, .b, .c, .d {
    display: inline-block;
    height: 0.8em;
    float: right;
    border: none;
    background-color: lightgrey;
}
.legend {
    position: relative;
    clear: both;
    width: 1em;
    height: 0.7em;
}
progress.write{
    color: #028cd5;
}
progress.speak {
    color: #0aa6e1;
}
progress.write::-webkit-progress-bar {
    background: lightgrey;
}
progress.speak::-webkit-progress-bar {
    background: lightgrey;
}
progress.speak::-webkit-progress-value {
    background: #0aa6e1;
}
progress.write::-webkit-progress-value {
    background: #028cd5;
}
progress.write::-moz-progress-bar {
    background: #028cd5;
}
progress.speak::-moz-progress-bar {
    background: #0aa6e1;
}
progress.write::progress-bar {
    background: #028cd5;
}
progress.speak::progress-bar {
    background: #0aa6e1;
}
.legend.speak {
    display: inline-block;
    position: relative;
    background-color: #0aa6e1;
}
.legend.write {
    display: inline-block;
    position: relative;
    background-color: #028cd5;
}
.text {
    display: inline-block;         
    position: relative;
    margin-left: 15px;
}
.flex-box {
    display: -webkit-inline-flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.hobby {               
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #0aa6e1;
}
.hobby:after {
    content: attr(data-after);                
    position: absolute;
    margin-top: 70px;
    font-size: 0.75em;
    font-variant: all-petite-caps;
}
.fa {
    color: white;
    
}
.year {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 700;
    color: grey;
}
.experiences {
    color: grey;
    border-left: 1px solid lightgrey;
}
.experiences > h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}
main article h6 {
    margin-left: 4%;
}
.svg_c {
    margin-left: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.svg_c::after {
    content: attr(data);
    color: black;
}

footer {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
    height: 9vh;
    background-color: #0aa6e1;
    -webkit-box-shadow: 0px 1px 15px black;
    box-shadow: 0px 1px 15px black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.footer-connect {
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #028cd5;
    color: black;
}
.footer-connect:hover {
    text-decoration: none;
}